name: Playwright Cucumber Tests
on:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        # Musimy wejść do podfolderu 'projekt'
        run: npm install
        working-directory: projekt

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        working-directory: projekt

      - name: Run Cucumber Tests
        run: npm test
        working-directory: projekt
        env:
          CI: true