name: Playwright Cucumber Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: TypeScript

      - name: Fix permissions (opcjonalne, jeśli npx zawodzi)
        run: chmod +x ./node_modules/.bin/playwright
        working-directory: TypeScript

      - name: Install Playwright Browsers
        # Używamy npm exec zamiast npx dla lepszej kontroli
        run: npm exec playwright install --with-deps
        working-directory: TypeScript

      - name: Debug - Lista plikow
        working-directory: TypeScript/projekt
        run: find . -maxdepth 3 -not -path '*/.*'

      - name: Run Cucumber Tests
        working-directory: TypeScript/projekt
        run: npm test